body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
}

tr:hover {
  background-color: #FBFBFB
}

#nameData {
  text-align: left;
  padding: 13px 16px;
  gap: 8px;
}

#scoreData {
  text-align: center;
}

.btn-green {
  display: inline-block;
  color: white;
  border-radius: 6px;
  background: #59B77A;
  height: 26px;
  width: 91px;
}

.btn-red {
  display: inline-block;
  color: white;
  border-radius: 6px;
  background: #ED5E61;
  height: 26px;
  width: 91px;
}

.theader {
  background-color: #F8F8F8
}